.contact-phone {
  display: flex;
  align-items: center;
  color: var(--green-color);
  font-weight: bold;
  &__text {
    margin-left: 24px;
    display: inline-block;
    margin-bottom: 14px;
  }
}
