.header {
  width: 100%;
  transition: background-color var(--bs-transition);
  z-index: 50;
  padding: 52px 0;
  @media screen and (max-width: 1700px) {
    padding: 32px 0;
  }
  &__logo {
    max-width: 21.5%;
    min-width: 318px;
    @media screen and (max-width: 1700px) {
      margin-left: 8px;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1700px) {
      padding: 0 rem(80);
    }
  }
  &__right {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1700px) {
      justify-content: flex-end;
    }
  }
  &__contact {
    margin-right: 86px;
    max-width: 4.2%;
    min-width: rem(46.29);
    @media screen and (max-width: 1700px) {
      margin-right: 54px;
    }
  }

  // .header-is-sticky & {
  //   // ..стили для липкого хедера
  //   position: fixed;
  //   background-color: #007aff;
  // }

  &__btn {
    width: 280px;
    border-radius: 15px;
    padding: 34px 59px 42px;
    box-shadow: none;
    margin-left: 150px;
    font-size: 14px;
    text-align: left;
    @media screen and (max-width: 1700px) {
      padding: 23px;
      width: 185px;
      margin-left: 59px;
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 45px 0 18px;
    &__container {
      padding: 0 1rem;
    }
    &__right {
      flex-grow: 1;
      justify-content: space-between;
      margin-left: 25px;
    }
    &__btn,
    &__contact {
      margin: 0;
    }
  }
  @media screen and (max-width: 890px) {
    &__right {
      display: none;
    }
    &__container {
      justify-content: center;
    }
  }
}
