.header {
  width: 100%;
  transition: background-color var(--bs-transition);
  z-index: 50;
  padding: 52px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__contact {
    margin-right: 86px;
  }

  // .header-is-sticky & {
  //   // ..стили для липкого хедера
  //   position: fixed;
  //   background-color: #007aff;
  // }

  &__btn {
    width: 280px;
    border-radius: 15px;
    padding: 34px 59px 42px;
    box-shadow: none;
    margin-left: 150px;
    font-size: 14px;
    text-align: left;
  }

  // .header__container
  // &__container {
  //   // height: rem($headerHeight);
  //   display: flex;
  //   align-items: center;

  //   .header-is-sticky & {
  //     height: rem($headerHeight - 50);
  //   }
  // }
}

// Burger
/*
.icon-menu {
  display: none;

  @include media-mx(768) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
*/
